.App {
  background-color: #00bebe;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.block {
  height: 600px;
}

.block.red {
  background-color: red;
}

.block.blue {
  background-color: blue;
}

iframe {
  width: 100%;
  border: none;
}